<% include header-admin %>
	<div class="section-1">
			<ul class="list">
				<li><a href="/admin"><i class="th-home"></i> Главная</a></li>
				<li><a href="/admin/news"><i class="th-pin"></i> Записи</a></li>
				<li class="active"><a href="actors-list.php"><i class="th-group"></i> Актеры</a></li>
				<li><a href="editimg.php"><i class="th-picture"></i> Медиафайлы</a></li>
			</ul>
		</div>
		<div class="section-2">
			<h2>Актеры</h2>
			<div class="element-list">
				<a href="add-actor.php">
					<div class="list-element">
						<div class="plus"><span></span><span></span></div>
						<div class="text">
							<a href="add-actor.php" class="href-btn ok">Добавить</a>
						</div>
					</div>
				</a>
				<?php 
					$blocks = get_all_actors();

					while ($myrow = mysql_fetch_array($blocks)) { ?>

							<div class="list-element">
								<div class="oimg">
									<img src="../../<?php echo $myrow['img']?>">
								</div>
								<div class="text">
									<h4><?php echo $myrow['name']?> <?php echo $myrow['secname']?></h4>
									<p><?php echo $myrow['role']?></p>
									<a href="editing-actor.php?q=<?php echo $myrow['id']?>" class="href-btn ok"><i class="th-edit"></i> Изменить</a>
									<button class="href-btn danger" onclick="deleteActor(<?php echo $myrow['id']?>)"><i class="th-trash"></i> Удалить</button>
								</div>
							</div>

					<?php }
				 ?>
			</div>
		</div>
<% include footer-admin %>