<% include header-admin %>
	<div class="section-1">
			<ul class="list">
				<li><a href="/admin"><i class="th-home"></i> Главная</a></li>
				<li class="active"><a href="/admin/news"><i class="th-edit"></i> Добавление</a></li>
				<li><a href="/admin/actors"><i class="th-group"></i> Актеры</a></li>
				<li><a href="/admin/imgs"><i class="th-picture"></i> Медиафайлы</a></li>
			</ul>
		</div>
		<div class="section-2" data-page="afish-editing">
			<h2>Добавление записи</h2>
					<form class="f">
						<div class="form">
								<div class="form-el">
									<p>Название:</p>
								</div>
								<div class="form-el">
									<input type="text" name="name" placeholder="Название" autocomplete="off" />
								</div>
								<div class="form-el">
									<p>Автор:</p>
								</div>
								<div class="form-el">
									<input type="text" name="author" placeholder="Уильям Шекспир" autocomplete="off" />
								</div>
								<div class="form-el">
									<p>Описание:</p>
								</div>
								<div class="form-el">
									<textarea name="text" placeholder="Описание..." autocomplete="off"></textarea>
								</div>
								<div class="form-el">
									<p>Дата:</p>
								</div>
								<div class="form-el">
									<input type="text" name="date" placeholder="ГГГГ-ММ-ДД" autocomplete="off" />
								</div>
								<div class="form-el">
									<p>Время:</p>
								</div>
								<div class="form-el">
									<input type="text" name="time" placeholder="19:00" autocomplete="off" />
								</div>
								<div class="form-el">
									<p>Длительность:</p>
								</div>
								<div class="form-el">
									<input type="text" name="duration" placeholder="3 часа" autocomplete="off" />
								</div>
								<div class="form-el">
									<p>Место:</p>
								</div>
								<div class="form-el">
									<input type="text" name="place" placeholder="Нигде и никогда" autocomplete="off" />
								</div>
								<div class="form-el">
									<p>Продюсер:</p>
								</div>
								<div class="form-el">
									<input type="text" name="producer" placeholder="Наталья Богач" autocomplete="off" />
								</div>
								<div class="form-el">
									<p>Хореограф:</p>
								</div>
								<div class="form-el">
									<input type="text" name="choreographer" placeholder="Ольга Горячева" autocomplete="off" />
								</div>
								<div class="form-el">
									<p>Актеры:</p>
								</div>
								<div class="form-el">
									<input type="text" name="actors" placeholder="Артём Жуйков, Андрей Жуков" autocomplete="off" />
								</div>
								<div class="form-el">
									<p>Картинка:</p>
								</div>
								<div class="form-el">
									<div class="omg">
										<img src="."/>
										<input type="hidden" name="img"/>
									</div>
								</div>
								<div class="form-el"></div>
								<div class="form-el">
									<label class="file ok" onclick="showImg()">Изменить изображение</label><br/><br/>
									<input type="button" value="Подтвердить изменения" class="ok" onclick="addNews()"/>
								</div>
						</div>
					</form>
		</div>
		<div class="select-img-block">
			<div class="wrapper-img"></div>
			<button onclick="hideImg()"></button>
		</div>

<% include footer-admin %>