.about-wrapper {
	width: 100%;
	padding-top: 100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.about-card {
  width: 80%;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 3px;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
	padding: 37px 50px 20px 50px;
	color: #333;
}
.about-block {
	margin-bottom: 25px;
}
.about-card h2 {
	color: #313131;
	/* font-weight: normal; */
	/* padding: 30px; */
	/* line-height: 24px; */
}
.about-card h2 span {
	color: #555;
}
@media (max-width: 992px) {
	.about-card {
		width: 100%;
		padding: 37px 36px 20px 36px;
	}
}
