.afish-page-wrapper {
	width: 100%;
	padding-top: 100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.afish-page {
	width: 60%;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 3px;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
	padding-bottom: 30px;
	color: #333;
}
.afish-page h1 {
	color: #313131;
	font-weight: normal;
	padding: 30px;
	line-height: 24px;
}
.afish-page h1 span {
	font-size: 14px;
	color: #555;
}
.afish-image {
	height: 280px;
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;
}
.afish-image img {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.afish-image:hover img {
	-webkit-transform: translate(-50%, -50%) scale(1.05);
	-ms-transform: translate(-50%, -50%) scale(1.05);
	-o-transform: translate(-50%, -50%) scale(1.05);
	transform: translate(-50%, -50%) scale(1.05);
}
.afish-page p {
	padding: 5px 40px;
}