.modal-img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.8);
	z-index: 1001;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	display: none;
}
.img-block {
	width: 70%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.img-block img {
	height: 76vh;
	width: auto;
}
