<% include meta %>
	<link rel="stylesheet" href="/stylesheets/about.css">
	<title>О нас</title>
	<% include header %>
	<div class="title-wrapper">
		<div class="about-title">
			<h2>О нас</h2>
		</div>
		<div class="about-title">
			<h2>О методе</h2>
		</div>
		<div class="about-title">
			<h2>О спектаклях</h2>
		</div>
	</div>
	<div class="about-wrapper first-block">
		<div class="about-block">
			<p>Молодежый театр “Гиперборея” был создан в 2009 году как самодеятельное театральное объединение студентов. В настоящее время в труппе 15 артистов. Основной репетиционной площадкой театра служит Институт компьютерных наук и технологий Политехнического университета. Наши спектакли идут на сцене Студенческого клуба Политеха. </p>
		</div>
		<div class="about-block">
			<p>В репетиционной работе и подготовке спектаклей мы изучаем принципы и методы различных театральных школ: системы работы на пьесой и ролью К. С. Станиславского и М. А. Чехова, труды режиссеров второй половины ХХ века, концепцию “синтетического” театра А. Я. Таирова, в которой уделяется большое внимание актерскому движению и пластике, практикуем метод действенного анализа. Танец и музыка занимают большое место в драматургии наших спектаклей.  Актеры регулярно занимаются классическим и современным танцем, работают с хореографом. Изучение техники и актерские упражнения проходят на материале текущей пьесы. Вследствие этого новички попадают на сцену очень быстро. По мере накопления опыта перед артистами ставятся более сложные творческие задачи, направленные на развитие пластичности актерского воображения и создание достоверных образов в разных характерах и обстоятельствах. </p>
		</div>
		<div class="about-block">
			<p>В репертуаре театра преимущественно комедии - веселые и лирические, мистические и серьезные, классические и современные. Это искрометная феерия “Кентервиль” по произведениям О. Уайльда, брызжущая задорной отвагой солнечная “Двенадцатая ночь” У. Шекспира,  пронзительный, по-весеннему тонкий и хрупкий “Старший сын” А. Вампилова, таинственный “Золотой жук” по рассказам Э. По и А. Конан Дойля. Последняя наша работа, премьера которой состоится 20 февраля - “Кин IV” по пьесе Г. Горина о судьбе великого английского актера Эдмунда Кина. </p>
		</div>
	</div>
	<script src="/javascripts/script.js"></script>
<% include footer %>
