<% include meta %>
	<link rel="stylesheet" href="/stylesheets/about.css">
	<title>О нас</title>
	<% include header %>
	<div class="about-wrapper">
		<div class="about-card">
			<div class="about-block">
				<h2><span>О нас</span></h2>
				<hr>
				<p>Молодежый театр “Гиперборея” был создан в 2009 году как самодеятельное театральное объединение студентов. В настоящее время в труппе 15 артистов. Основной репетиционной площадкой театра служит Институт компьютерных наук и технологий Политехнического университета. Наши спектакли идут на сцене Студенческого клуба Политеха. </p>
			</div>
			<div class="about-block">
				<h2><span>О названии</span></h2>
				<hr>
				<p>Мы долго выбирали название. Среди вариантов был и “Чуланчик”, с ним мы не смогли расстаться,  теперь так называется один из разделов сайта - заглядывайте и туда, там будут материалы по актерскому мастерству, сценической речи, хореографии, разные полезные упражнения, заметки о жизни и т.д. Был “Ивовый шалаш” -- отсылка к нашей любимой комедии У. Шекспира “Двенадцатая ночь”. И даже “Рычаг и камень” - как символ самоотверженного трудолюбия и упорства. Было много других, смешных и торжественных, традиционных и необычных, но победила все-таки “Гиперборея”. Почему? </p>
			</div>
			<div class="about-block">
				<h2><span>О Гиперборее</span></h2>
				<hr>
				<p>Гиперборея (“земля за северным ветром”, греч.) - по преданиям древних греков - таинственный край, населенный народом, любящим красоту, искусство и гармонию. Там не бывает войн, а каждый странник, пришедший к их порогу, находит приют. Жизнь гиперборейцев протекает в вечном веселье, этот любимый богами народ живет по тысяче лет, но они не бессмертны. “Поразительно!” - воскликнули мы - “все как будто про нас.” Самодеятельному театру нелегко существовать, и неласковые северные ветра порой грозят нам. Но, любовь к искусству и творчеству защищает нас от всех невзгод, а за северным ветром лежит чудесная страна, где живет красота, где можно переместиться в любую эпоху, узнать людей, прожить множество жизней, стать на этом пути мудрее, добрее, сильнее. Мы рады каждому, кто хотел бы попробовать свои силы в актерском деле. Прием в театр идет в течение всего года. Гиперборея для нас не просто название нашего театра, это, своего рода, краткая формула нашего творческого метода. </p>
			</div>
			<div class="about-block">
				<h2><span>О методе</span></h2>
				<hr>
				<p>В репетиционной работе и подготовке спектаклей мы изучаем принципы и методы различных театральных школ: системы работы на пьесой и ролью К. С. Станиславского и М. А. Чехова, труды режиссеров второй половины ХХ века, концепцию “синтетического” театра А. Я. Таирова, в которой уделяется большое внимание актерскому движению и пластике, практикуем метод действенного анализа. Танец и музыка занимают большое место в драматургии наших спектаклей.  Актеры регулярно занимаются классическим и современным танцем, работают с хореографом. Изучение техники и актерские упражнения проходят на материале текущей пьесы. Вследствие этого новички попадают на сцену очень быстро. По мере накопления опыта перед артистами ставятся более сложные творческие задачи, направленные на развитие пластичности актерского воображения и создание достоверных образов в разных характерах и обстоятельствах. </p>
			</div>
			<div class="about-block">
				<h2><span>О спектаклях</span></h2>
				<hr>
				<p>В репертуаре театра преимущественно комедии - веселые и лирические, мистические и серьезные, классические и современные. Это искрометная феерия “Кентервиль” по произведениям О. Уайльда, брызжущая задорной отвагой солнечная “Двенадцатая ночь” У. Шекспира,  пронзительный, по-весеннему тонкий и хрупкий “Старший сын” А. Вампилова, таинственный “Золотой жук” по рассказам Э. По и А. Конан Дойля. Последняя наша работа, премьера которой состоится 20 февраля - “Кин IV” по пьесе Г. Горина о судьбе великого английского актера Эдмунда Кина. </p>
			</div>
		</div>
	</div>
	<script src="/javascripts/script.js"></script>
<% include footer %>