<% include meta %>
	<link rel="stylesheet" href="/stylesheets/actors.css">
	<title>Труппа</title>
	<% include header %>
	<h1 class="first-block"></h1>
	<div class="actors-wrapper">
		<% actors.forEach( function (person) { %>
			<div class="actor-card">
				<div class="card-img" data-src='<%= person.img %>'></div>
				<p><%= person.name %> <%= person.secname %> </p>
				<p><%= person.role %></p>
			</div>
		<% }); %>
	</div>

	<script src="/javascripts/script.js"></script>
<% include footer %>
