	<div class="footer">
		<div class="contact-footer">
			<p>Наши контакты</p>
			<a href="tel:+79062492306">Наталья Владимировна Богач +79062492306</a>
			<a href="mailto:mail@hyperborea-theatre.ru">mail@hyperborea-theatre.ru</a>
		</div>
		<div class="icons-footer">
			<a href="https://www.spbstu.ru" target="_blank"><img src="/images/politex.png"></a>
			<a href="http://www.sc.spbstu.ru/" target="_blank"><img src="/images/studclub.png"></a>
		</div>
	</div>
</body>
</html>
