	<div class="footer">
		<div class="contact-footer">
			<p>Наши контакты</p>
			<a href="tel:8-800-555-3535">8-800-555-3535</a>
			<a href="mailto:theater@theatermail.ru">theater@theatermail.ru</a>
		</div>
		<div class="icons-footer">
			<a href="https://vk.com"><i class="fab fa-vk"></i></a>
			<a href="https://facebook.com"><i class="fab fa-facebook-square"></i></a>
		</div>
	</div>
</body>
</html>