<% include meta %>
	<link rel="stylesheet" href="/stylesheets/gallery.css">
	<link rel="stylesheet" href="/stylesheets/modalIMG.css">
	<title>Галерея</title>
	<% include header %>

	<div class="gallery">
		<h1 class="first-block"><span>Галерея</span></h1>
		<div class="content-gal">
			<div class="col">
				<% for (let i=0; i < gallery.length; i+=3) { %>
					<div onclick="currentSlide(this)">
						<img src="/<%= gallery[i].img %>" alt="img">
						<p><i class="fas fa-search-plus"></i></p>
					</div>
				<% } %>
			</div>
			<div class="col">
				<% for (let i=1; i < gallery.length; i+=3) { %>
					<div onclick="currentSlide(this)">
						<img src="/<%= gallery[i].img %>" alt="img">
						<p><i class="fas fa-search-plus"></i></p>
					</div>
				<% } %>
			</div>
			<div class="col">
				<% for (let i=2; i < gallery.length; i+=3) { %>
					<div onclick="currentSlide(this)">
						<img src="/<%= gallery[i].img %>" alt="img">
						<p><i class="fas fa-search-plus"></i></p>
					</div>
				<% } %>
			</div>
	</div>
	<div class="modal-img">
		<button onclick="closeModal()">✖</button>
		<div class="img-block">
			<img src="images/gallery/gallery1.jpg" alt="img" onclick="closeModal()">
		</div>
		<div class="prev" onclick="changeSlide(-1)">&#10094;</div>
		<div class="next" onclick="changeSlide(1)">&#10095;</div>
	</div>

	<script src="/javascripts/script.js"></script>
	<script src="/javascripts/modalIMG.js"></script>
	<% include footer %>