	<link rel="stylesheet" href="/stylesheets/media.css">
</head>
<body>
	<div id="opening-circle"></div>
	<div id="resp-menu"></div>
	<div class="header">
		<div class="logo-block">
			<a href="/">
				<img src="/images/theater.png" alt="logo">
				<p>Гиперборея</p>
			</a>
			<div id="collapse-menu-button">
				<span>≡</span>
			</div>
		</div>
		<div class="menu">
			<div class="menu-el"><a href="/">Главная</a></div>
			<div class="menu-el"><a href="/news">Афиша</a></div>
			<div class="menu-el"><a href="/actors">Труппа</a></div>
			<div class="menu-el"><a href="/gallery">Галерея</a></div>
		</div>
	</div>
	<div id="scroll-progress"></div>