<% include meta %>
	<link rel="stylesheet" href="stylesheets/trupe.css">
	<title>Труппа</title>
	<% include header %>
	<div class="actors-wrapper">

		<?php 
				$blocks = get_all_actors();

				while ($myrow = mysql_fetch_array($blocks)) { ?>

					<div class="actor-card">
						<div class="card-img" data-src='../<?php echo $myrow['img'] ?>'></div>
						<p><?php echo $myrow['name'] ?> <?php echo $myrow['secname'] ?></p>
						<p><?php echo $myrow['role'] ?></p>
					</div>

				<?php }
			 ?>

	</div>

	<script src="javascripts/script.js"></script>
<% include footer %>