
.th-edit:before { content: '\e800'; } /* '' */
.th-group:before { content: '\e801'; } /* '' */
.th-folder:before { content: '\e802'; } /* '' */
.th-home:before { content: '\e803'; } /* '' */
.th-picture:before { content: '\e804'; } /* '' */
.th-pin:before { content: '\e805'; } /* '' */
.th-upload:before { content: '\e806'; } /* '' */
.th-trash:before { content: '\e807'; } /* '' */
.th-doc:before { content: '\f15c'; } /* '' */